html {
	box-sizing: border-box;
	overflow-y: scroll;
	min-height: 100%;
}

body {
	margin: 0;
	padding: #{$gutter / 2};

	font-family: $typeface-body;
	font-size: $font-size-xs;
	font-feature-settings: 'liga';

	line-height: $default-line-height;
	text-rendering: optimizeLegibility;

	// Expose media query breakpoints to the outside using the 'content' property of the ':before' pseudo element! :)
	&::before {
		@include breakpoint-sync;
	}

	@include respond-to(small) {
		font-size: $font-size-s;
		padding: $gutter;
	}

	@include respond-to(large) {
		font-size: $font-size-m;
	}
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: $gutter;
	background: $brand-color-dark;
	color: $white;
	font-size: $font-size-xs;
}