<table>
	<thead>
		<tr>
			<th>Num col title</th>
			<th>Text col title</th>
			<th>Text col title</th>
			<th>Num col title</th>
			<th>Num col title</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1.</td>
			<th scope="horizontal">Entity 1</th>
			<td>Value A</td>
			<td>1.025</td>
			<td>95</td>
		</tr>
		<tr>
			<td>2.</td>
			<th scope="horizontal">Entity 2</th>
			<td>Value B</td>
			<td>521</td>
			<td>147</td>
		</tr>
		<tr>
			<td>3.</td>
			<th scope="horizontal">Entity 3</th>
			<td>Value C</td>
			<td>45.473</td>
			<td>173</td>
		</tr>
	</tbody>
	<tfoot></tfoot>
</table>
