<header>
	<form>
		<div class="inline-element-container">
			<label>Your email:</label>
			<input type="text" placeholder="paste the link of the page" class="inline-element--grow" autofocus/>
			<button>Keep me posted</button>
		</div>
	</form>
</header>
<h1>Please make a selection of what want to receive an update about</h1>

<iframe src="//www.adidas.nl/superstar-foundation-schoenen/B27140?pr=CUSTOMIZE_IMG_Superstar%2520Foundation%2520Schoenen" class="browser">
	<p>Your browser does not support iframes.</p>
</iframe>
