<header class="header">
	{{> @logo }}
</header>

<div>
	{{> @page-input-form }}
</div>

<footer>
	<span class="make-text-brand-color-light">next step:</span> make a selection of that what part you want to watch
</footer>

