$gutter: 1rem;

$space-xxs:	$gutter / 4;
$space-xs:	$gutter / 2;
$space-s:	$gutter;
$space-m:	$gutter * 2;
$space-l:	$gutter * 4;
$space-xl:	$gutter * 8;

// Sizing for images???
$img-m:		2rem;

$ezpz-namespace:				'.grid';
$ezpz-grid-type:				'fractions';

// $ezpz-grid-default-wrap:		'wrap';
$ezpz-grid-wrap:				true;
$ezpz-grid-align:				true;
$ezpz-cell-order:				true;
$ezpz-cell-offset:				true;
$ezpz-cell-align:				true;
$ezpz-gutter-collapse:			true;

$ezpz-breakpoints: 				$breakpoints;
$ezpz-gutter:					$gutter;

$ezpz-fractions:				(1: 2),
	(1: 3),
	(2: 3),
	(1: 4),
	(3: 4),
	(1: 5),
	(1: 6),
	(4: 5),
	(5: 6);

// component specific variables
$inline-form-label-width:		16rem;

//z-indexes
$zindex-background:				0;
$zindex-navigation:				10;
$zindex-notification:			20;
$zindex-modal:					30;
$zindex-tooltip:				40;
